<style>
    body {
        margin: auto;
    }
    h2,
    img {
        text-align: center;
    }
    p {
        margin: 10px 0
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>
<body>
<h2>Salut {{firstName}} {{lastName}}  ! </h2>
<img src="cid:img_atchoum">
<p>Alors comme cela, tu as déjà voulu jouer avec moi. Je ne suis même pas arrivé(e) et tu prends déjà des paris sur ma personne. J'en prends bonne note ;) </p>
<p>Au cas où, si tu as une mémoire de poisson rouge, voici les informations que tu as saisies</p>
<ul>
    <li>Sexe: {{gender}}</li>
    <li>Taille: {{height}} cm</li>
    <li>Poids: {{weight}} kg</li>
</ul>
<p>Avec ces premières informations, tu seras peut-être l'heureux gagnant du concours !! </p>
<p>Tu as décidé de m'appeler <strong>{{atchoumName}}</strong> ?? C'est ton choix. Mais si tu as trouvé, alors la bouteille de champagne sera pour toi :)</p>
<p>Je t'enverrai personnellement un mail si tu es l'un des deux gagnants. D'ici là, je reste au chaud de la ventre de ma mère</p>
<p>La bise à toi et au plaisir de te rencontrer {{firstName}} {{lastName}} </p>

<p>Atchoum NIEDZWIECKI</p>
</body>
</html>